<h1 class="h3 mb-4 text-gray-800">Ödev Dağıtım Portalı</h1>

@section Scripts{

    <script>
        var token = localStorage.getItem("token");
        if (token == "" || token == null) {
            location.href = "/Home/Login";
            return false;
        }
    </script>
}
